* {
    margin: 0;
}

html, body {
    height: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 6rem;
    width: 100%;
    min-height: 100%;
    display: table;
    font-weight: 100;
    /* font-family: 'Lato', sans-serif; */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sadie {
    position: fixed;
    width: 216px;
    height: 520px;
    margin-top: 80px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url('/images/Sadie.jpg');
}
.content {
    margin: 0 auto;
    margin-left: 216px;
    text-align: center;
    display: inline-block;
    padding-top: 5em;
}
.admincontent {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-top: 5em;
    padding-left: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10em;
    right: 0;
}
#main {
    background-color: #ffffff;
}
h2 {
    padding-bottom: 20px;
}
.fa {
    padding: 3px;
}

/* Top Navbar */
.navbar-default {
    background: #E2F4BE;
    box-shadow: 0 0 2px #006C00;
}
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-default .navbar-brand {
    font-family: 'Luckiest Guy', cursive;
    color: #FFC125;
    text-shadow: 1px 1px 6px #fff;
}
.navbar-default .navbar-brand:hover {
    color: #FF7256;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.navbar-nav li:hover {
    box-shadow: 0 0 2px #006C00;
}

/* Page headings */
.title {
    font-size: 36px;
    font-family: 'Luckiest Guy', cursive;
    color: #FFC125;
    padding-bottom: 0.5em;
}
.title:hover {
    color: #FF7256;
}
.title-home {
    font-size: 36px;
    font-family: 'Luckiest Guy', cursive;
    color: #FFC125;
    padding-bottom: 0.5em;
}
.title-home:hover {
    color: #FFC125;
}
.title-big {
    font-size: 72px;
    padding-top: -40px;
}
.title-big:hover {
    color: #FFC125;
}

/* Footer */
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
   /* background-color: #efefef; */
    background-color: #E2F4BE;
    box-shadow: 0 0 2px #006C00;
    text-align: center;
}
.footer a {
    color: #FF7256;
    text-decoration: none;
}
.footer a:hover {
    color: #FFC125;
}

/* Admin Area Sidebar Menu */
#sidebar {
    margin-top: 52px;
    background-color: #D0E1AA;
    padding: 0;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0; width: 10em;
    box-shadow: 0 0 3px #006C00;
}
#sidebar a {
    color: #333333;
}
.nav-stacked li a:hover {
    background-color: #FFC125;
    color: #333333;
    margin: 0;
}

/* TinyMCE interface */
#tiny {
    width: 75%;
    position: relative;
    left: 10px;
    padding-bottom: 20px;
    margin: auto;
    z-index: 1000;
}
#tiny .textfield {
    margin-bottom: -10px;
}

/* Form Styles */
.form-page-small {
    width: 360px;
    padding: 1% 0 0;
    padding-bottom: 35px;
    margin: auto;
}
.form-page-medium {
    max-width: 800px;
    padding: 45px;
    margin: auto;
    background: #FFFFFF;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-page-large {
    padding: 45px;
    margin: auto;
    background: #FFFFFF;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-page-medium .form-control {
    max-width: 400px;
}
.form {
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FF7256;
    width: 100%;
    border: 0;
    border-radius:6px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #FFC125;
}
.form .message,.forgotlogin {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.checkbox {
    width: 96%;
    margin-left: -5px;
    margin-top: -5px;
}
#remember {
    margin-top: 4px;
}
.form .forgotlogin a {
    color: #FF7256;
    text-decoration: none;
}
.form .forgotlogin a:hover {
    color: #FFC125;
}
.form .message a {
    color: #FF7256;
    text-decoration: none;
}
.form .message a:hover {
    color: #FFC125;
}
.thisistheloginpage .form .register-form {
    display: none;
}
.thisistheregisterpage .form .login-form {
    display: none;
}
.btn-custom {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FF7256;
    border: 0;
    order-radius:6px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.skinny {
    padding: 4px;
}
.btn-custom:hover {
    background: #FFC125;
    color: #FFFFFF;
}
.btn-custom:visited {
    color: #FFFFFF;
}
.btn-custom:active {
    color: #FFFFFF;
}

.form-group .row  {
    padding: 10px;
}

.table {
    padding: 0;
    margin: 0;
   /* border: 1px solid #000; */
}
table th {
    text-align: center;
}

.table-responsive {
    padding-bottom: 30px;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

/* banner editor */
main {
    background-color: #E2F4BE;
    box-shadow: 2px 2px teal;
    border: 1px solid #006C00;
}
#canvascontainer {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 468px;
    min-width: 100px;
    height: 60px;
    background: transparent url('/images/canvasbg.gif');
}
#savediv {
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.canvaslayer {
    cursor: pointer;
    position: absolute !important;
    top: 0;
    left: 0;
    background: none;
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
}

.picture {
    border: 0;
}

#lefteditpane {
    background-color: #FFC125;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
}

#bgimagepreview, #imagepreview {
    margin: auto;
    display: none;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
}

#downloadbuttondiv {
    display: none;
    text-align: center;
    padding: 0;
}

.checkbox-last {
    padding-bottom: 20px;
}

#maineditpane {
    width: 1000px;
    background-color: #E2F4BE;
}

.has-error {
    color: #FF7256;
    margin-left: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* resizing and dragging of images and text on the canvas */
.ui-resizable-handle {
    width: 9px !important;
    height: 9px !important;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
}
.ui-resizable-nw
{
    left: -5px;
    top: -5px;
}
.ui-resizable-ne
{
    top: -5px;
    right: -5px;
}
.ui-resizable-sw
{
    bottom: -5px;
    left: -5px;
}
.ui-resizable-se
{
    bottom: -5px;
    right: -5px;
}
.ui-icon {
    width: 9px !important;
    height: 9px !important;
}

/* image editor buttons */
.editorinput {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
}
.btn-yellow, .btn-file {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
}
.btn-yellow:hover {
    background-color: yellow;
}
.btn-file:hover {
    background: yellow;
}
.btn-yellow:active {
    box-shadow: none;
}

/* faq and product panels */
.panel-faqs, .panel-products {
    margin-top: 35px;
}
.panel-toppadding {
    padding-top: 16px;
}
.btn-product {
    margin-bottom: 12px;
}

/* faq sorting */
.ui-sortable tr {
    cursor:grab;
}

/* promotional tabs */
.tab-pane {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: 0;
}
.border1px {
    border: 1px solid #ccc;
}

.padding5pxtop {
    padding-top: 5px;
}

/* helpdesk box */
.helpdeskbox {
    padding-left: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* media */
.scale {
    max-width: 100%;
    height: auto;
}
@media (min-width: 0px) { body { padding-top: 60px; } }
@media (min-width: 0px) { #sidebar { padding-top: 70px; } }
@media (min-width: 0px) { .thisistheloginpage { width: 100px; } }
@media (min-width: 0px) { .thisistheregisterpage { width: 100px; } }
@media (min-width: 308px) { body { padding-top: 0px; } }
@media (min-width: 308px) { #sidebar { padding-top: 0px; } }
@media (min-width: 0px) { .thisistheloginpage { width: 360px; } }
@media (min-width: 0px) { .thisistheregisterpage { width: 360px; } }
@media (min-width: 761px) { body { padding-top: 60px; } }
@media (min-width: 761px) { #sidebar { padding-top: 0px; } }
@media (min-width: 1200px) { body { padding-top: 0; } }

@media (max-width:608px) {
    .sadie {
        display: none;
    }
    .content {
        margin-left: 0px;
    }
    .title {
        font-size: 18px;
    }
}

/* preload image selector images */
#preloadedImages {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url('/images/editorimages/CHSQY94U6T.jpg');
    background-image: url('/images/editorimages/DHK577B552.jpg');
    background-image: url('/images/editorimages/IUVI2VVDXJ.jpg');
    background-image: url('/images/editorimages/O4DWC2WG2U.jpg');
    background-image: url('/images/editorimages/QMA508CSJ4.jpg');
    background-image: url('/images/editorimages/S3XBRRS2D9.jpg');
    background-image: url('/images/editorimages/SQY05ME36U.jpg');
}